.cart {
    color: $textGray;

    &__body {
    }

    &__title {
        text-align: center;
        margin-top: 50px;
    }

    &__container {
        margin-top: 30px;
        display: flex;
        min-height: 1000px;
        justify-content: center;
    }

    &__list {
        margin-right: 50px;

        .cartItem {
            border-bottom: 1px solid $textGraySecondary;
        }

        .cartItem:last-child {
            border-bottom: none;
        }
    }

    &__total {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fafafa;
        max-width: 272px;
        max-height: 185px;
        padding: 15px;
        border-radius: 12px;

    }

    &__total-container {
        display: flex;
        margin: 15px 0;
        font-size: 18px;
        font-weight: 600;

    }

    &__total-text {

    }

    &__total-sum {
        margin-left: 50px;

    }

    &__total-btn {
        font-weight: 500;
        width: 100%;
    }
    
    &__total-img {
        height: 30px;
        width: 30px;
        object-fit: contain;
        margin: 0 5px;
    }

    &__total-subtext {
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
        margin-right: 10px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 0) and (max-width: 768px) {
    .cart {
        &__container {
            flex-direction: column;
            align-items: center;
            min-height: 500px;
        }

        &__total {
            width: 100%;
            max-width: none;
            position: relative;
        }

        &__total-container {
            height: 21px;
        }

        &__total-text {
            position: absolute;
            left: 15px
        }
    
        &__total-sum {
            margin-left: 0;
            position: absolute;
            right: 15px
        }

        &__total-subtext {
            margin-right: 0;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .cart {
        &__container {
            flex-direction: column;
            align-items: center;
            min-height: 500px;
        }

        &__total {
            width: 344px;
            max-width: none;
            position: relative;
        }

        &__total-container {
            height: 21px;
        }

        &__total-text {
            position: absolute;
            left: 15px
        }
    
        &__total-sum {
            margin-left: 0;
            position: absolute;
            right: 15px
        }

        &__total-subtext {
            margin-right: 0;
        }
    }
}
