.categories {
    padding-inline-start: 0;
    margin: 0;

    &__item {
        display: flex;
        align-items: center;
        margin-top: 15px;
        position: relative;
    
        &:hover {
            text-decoration: underline;
            color: #0f8040;
            transition: color 0.3s ease-in-out;
        }
    }

    &__color {
        height: 8px;
        width: 8px;
        border-radius: 16px;
        margin-right: 4px;
        display: none ;
    }

    &__name {
        font-size: 14px;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            height: 8px;
            width: 8px;
            border-radius: 16px;
            background-color: var(--color);;
        }
    }
}
