.devPanel {
    position: fixed;
    background-color: white;
    z-index: 99;
    top: 120px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 300px;
    overflow-y: scroll;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &__link {
        margin: 15px 10px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
