.header {
    display: flex;
    justify-content: center;
    // max-width: 1920px;
    margin: auto;
    max-height: 112px;
    width: 100%;

    &__body {
        height: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        // color: white;
        position: relative;
        padding: 16px;
        width: 100%;
        max-width: 1920px;
    }

    &__burger {
        display: none;
    }

    &__logo {
        width: 200px;
        height: 45px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        a{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        img {
            flex-shrink: 0;
            min-width: 168px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__search {
        margin-left: 64px;
    }

    &__lang {
        margin: 0 16px;
        position: relative;
        cursor: pointer;

        img {
            min-width: 24px;
            max-width: 24px;
            flex-shrink: 0;
        }

        div {
            position: absolute;
            left: -6px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid $green;
            border-radius: 12px;
            width: 35px;
            height: 60px;
            opacity: 0;
            transition: opacity 0.2s ease;
            width: 100%; 
    
            img {
                margin: 4px 0;
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
        }
    
        &:hover {
            div {
                opacity: 1;
            }
        }
    }

    &__cart {
        margin: 0 16px;
        position: relative;
        cursor: pointer;
    
        img {
            min-width: 24px;
            max-width: 24px;
            flex-shrink: 0;
        }
    
    
        div {
            position: absolute;
            border: 1px solid $gray;
            border-radius: 12px;
            width: 155px;
            left: -300%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            opacity: 0;
            transition: opacity 0.2s ease;
        
            span {
                color: $green;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    
        &:hover{
            div {
                opacity: 1;
            }
        } 
    }

    &__search-tablet {
        display: none;
        margin: 0 4px;
        position: relative;
        cursor: pointer;
    
        img {
            height: 25px;
            width: 25px;
        }
    
        div {
            position: absolute;
            left: -300%;
            top: 20px;
            display: none;
    
            .tablet {
                width: 200px;
                height: 30px;
    
                input {
                    padding: 0;
                    padding-left: 15px;
                }
            }
        }
    
        &:hover {
            div {
                display: block;
            }
        }
    }

    &__login {
    }
}
.nav {

    &__body {
        display: flex;
        white-space: 0;
        color: $textGray;
    }

    &__item {
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $green;
        }


        &:hover:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background-color: green;
            transition: width 0.3s ease;
        }
    }

    &__button {
        display: flex;

        .btn_container {
            margin-top: 4px;
            margin-right: 16px;

            .btn_stripe1 {
                background-color: black;
                height: 2px;
                width: 15px;
            }

            .btn_stripe2 {
                margin: 4px 0 4px 20px;
                background-color: black;
                height: 2px;
                width: 10px;
            }
        }
    }
}
.search {
    height: 48px;
    width: 100%;
    max-width: 424px;
    background-color: #fcfcfc;
    border: 1px solid $gray;
    border-radius: 8px;
    position: relative;
    display: flex;

    &_icon {
        position: absolute;
        top: 9px;
        left: 10px;
        height: 30px;
        width: 30px;
    }

    input{
        // margin-left: 15px;
        width: 100%;
        background-color: transparent;
        border: 1px solid $gray;
        color: $gray;
        border: none;
        padding-left: 50px;
    }
}
// .tablet {
    
// }

@media only screen and (min-width: 0) and (max-width: 768px) {
    .header {
        &__nav, &__search, &__lang, &__login {
            display: none;
        }

        &__burger {
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .header {
        &__body {
            width: 80%;
        }

        &__nav {
            display: none;
        }

        &__search {
            display: block;
        }
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .header {
        &__body {
            width: 100%;
        }

        &__nav {
            display: block;
        }

        &__burger, &__search {
            display: none;

        }

        &__lang, &__login, &__search-tablet {
            display: block;
        }
    }
}

@media only screen and (min-width: 1920px){
    .header {
        &__search {
            display: block;
            width: 424px;
        }

        &__search-tablet {
            display: none;
        }
    }
}