.home {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__body {
        max-width: 1920px;
        width: 100%;
        padding: 0 15px;
        margin-top: 15px;
    }

    &__header {
        display: flex;
        flex-direction: row;
    }

    &__hero {
        width: 80%;
    }

    &__category, &__mobilecategory {
        padding: 35px 0 35px 65px;
        background-color: #fafafa;
        width: clamp(200px, 30%, 400px);
        margin-right: 15px;
        color: #333333;
        font-weight: 300;

        &-title{
            font-size: 32px;
            font-weight: bold;
            margin-left: -15px;
            margin-bottom: 30px;
        }

        a{
            font-size: 16px;
        }
    }

    &__mobilecategory {
        display: none;
        width: 100%;
    }
}

.grid {
    &__top { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 30px;
        
        .grid__item {
            min-height: 330px;

            &:nth-child(2) {
            grid-column: span 1;
            grid-row: span 2;
            }

            &:nth-child(4) {
            grid-column: span 2;
            }
            
            &:nth-child(5) {
            grid-column: span 2;
            }
        }
    }
}



@media only screen and (min-width: 0) and (max-width: 768px) {
    .home {
        &__category {
            display: none;
        }

        &__hero {
            width: 100%;
        }
    }

    .grid {
        &__top { 
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            margin-top: 30px;
            
            .grid__item {
                min-height: 330px;
    
                &:nth-child(1) {
                    grid-column: span 1;
                    grid-row: span 1;
                }

                &:nth-child(2) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
    
                &:nth-child(3) {
                    grid-column: span 1;
                }
                
                &:nth-child(4) {
                    grid-column: span 1;
                }

                &:nth-child(5) {
                    grid-column: span 1;
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .home {
        &__category {
            display: none;
        }

        &__mobilecategory {
            display: block;
        }

        &__hero {
            width: 100%;
        }
    }

    .grid {
        &__top { 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 30px;

            .home__mobilecategory {
                grid-column: span 1;
                grid-row: span 2;
            }
            
            .grid__item {
                min-height: 330px;

                &:nth-child(2) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
    
                &:nth-child(3) {
                    grid-column: span 1;    
                }
                
                &:nth-child(4) {
                    grid-column: span 2;
                }

                &:nth-child(5) {
                    grid-column: span 1;
                }
            }
        }
    }
}
