.library {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $textGray;
    margin-top: 15px;
    position: relative;

    &__body {

    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
    }

    &__header {
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }

    &__swiper {
        display: none;
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }

    &__filter {
        display: flex;
        margin-top: 80px;
    }

    &__filter-title {
        padding-top: 6px;
        font-size: 32px;
        font-weight: bold;
        flex: 3;
    }

    &__filter-search, &__filter-mobilesearch {
        flex: 2;
        margin-right: 15px;
        // width: 600px !important;
    }

    &__filter-mobilesearch {
        display: none;
        padding: 13px 0;
    }

    &__filter-sort, &__filter-cats {
        flex: 1;
        height: 48px;
        width: 248px;
        background-color: #fcfcfc;
        border: 1px solid $green;
        border-radius: 12px;
        color: $green;
        font-size: 16px;
        padding: 14px 15px;
        position: relative;
        margin: 0 15px;

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 13px;
            background-image: url('../../img/arrow_green_icon.png');
            background-repeat: no-repeat;
            scale: 0.55;
        }

        &::before {
            content: attr(data-text);
            position: absolute;
            color: black;
            font-size: 12px;
            width: 150px;
            height: 20px;
            top: -18px;
            left: 0;
            font-weight: 500;
        }
    }

    &__filter-sortlist, &__filter-catslist {
        position: absolute;
        right: -1px;
        top: 47px;
        width: 100.7%;
        background-color: #fcfcfc;
        border: 1px solid $green;
        border-top: none;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        display: none;
        overflow: hidden;
        z-index: 1;
    }

    &__filter-item {
        padding: 15px 15px;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    &__filter-cats {
    }

    &__filter-catslist {
    }

    &__main {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &__loadMore {
        margin-top: 30px;
        background-color: transparent;
        color: $green;
        position: relative;
        padding-left: 30px;
        width: auto;
        font-weight: 500;
        left: 50%;

        &::after {
            content: '';
            background-image: url('../../img/svg/reload_icon.svg');
            background-repeat: no-repeat;
            width: 400px;
            height: 400px;
            position: absolute;
            top: 13px;
            left: 30px;
        }
    }

    &__footer, &__footerSwiper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }


    &__footerSwiper {
        display: none;
        
        p {
            margin-bottom: 30px;
        }
    }

    &__footer-title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    &__selection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin-top: 30px;
    }

    &__selection-item {
        flex: 1;
        height: 240px;
        width: 100%;
        // background-color: cyan;
        text-align: center;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 100px;
        border-radius: 12px;
        cursor: pointer;
    }

    &__selection-title {
        font-size: 24px;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }

    &__selection-upd {
        line-height: 15px;
        font-size: 14px;
    }
}



@media only screen and (min-width: 0) and (max-width: 768px) {
    .library {
        &__main {
            grid-template-columns: repeat(1, 1fr);
        }

        &__header {
            display: none;
        }

        &__swiper {
            display: block;
        }

        &__footer {
            display: none;
        }

        &__filter {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        &__filter-title {
            text-align: center;
            grid-column: span 2;
            grid-row: span 1;
            margin-bottom: 30px;
        }

        &__filter-search {
            display: none;
        }

        &__filter-mobilesearch {
            display: block;
            grid-column: span 2;
            grid-row: span 1;
            max-width: 100%;
        }

        &__filter-sort, &__filter-cats {
            width: 100%;
            margin: 0;
        }

        &__selection-item {
            max-width: 528px;
        }

        &__footerSwiper {
            display: flex;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .library {
        &__main {
            grid-template-columns: repeat(2, 1fr);
        }

        &__header {
            display: none;
        }

        &__swiper {
            display: block;
        }

        &__footer {
            display: none;
        }

        &__filter {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        &__filter-title {
            grid-column: span 1;
            grid-row: span 1;
            margin-bottom: 30px;
        }

        &__filter-search {
            display: none;
        }

        &__filter-mobilesearch {
            display: block;
            grid-column: span 3;
            grid-row: span 1;
            max-width: 100%;
        }

        &__filter-sort, &__filter-cats {
            width: 100%;
            margin: 0;
        }

        &__selection-item {
            max-width: 448px;
        }

        &__footerSwiper {
            display: flex;
        }
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .library {
        &__main {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (min-width: 1920px){

}

.swiper {
    width: 100%;
    height: 100%;
  }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

.swiper-pagination {
    margin-top: 15px;
    position: static;
}

.swiper-pagination-bullet-active {
    background-color: $green !important;
}