// .login {
//     display: flex;
//     font-family: "Montserrat", sans-serif;
//     font-weight: 800;
// }
// .login__btn {
//     display: flex;
//     margin-top: 0;
//     margin: 0 16px;
//     border: none;
//     position: relative;
//     // cursor: pointer;

//     .login__btn-img {
//         margin: 16px 4px 0 0;
//     }

//     .login__btn-open {
//         color: $green;
//         // width: 100px;
//         background-color: transparent;
//         border: none;
//         cursor: pointer;

//         &:hover {
//             .login_btn-form {
//                 display: flex;
//             }
//         }
//     }

//     .login__form {
//         display: none;
//         position: absolute;
//         top: 55px;
//         left: -55px;
//         padding: 15px;
//         border-radius: 12px;
//         justify-content: center;
//         flex-direction: column;
//         align-items: center;
//         border: 0.5px solid $gray;
//     }

//     &:hover {
//         .login_btn-form {
//             display: flex;
//         }
//     }
// }

// .login__form-login {
//     width: 100%;
// }
// .login__form-psw {
//     width: 100%;
// }
// .login__form-submit {
//     height: 40px;
//     margin: 15px 0 5px 0;
//     cursor: pointer;
// }
// .login__form-link {
//     text-decoration: underline;
//     cursor: pointer;
// }


.login {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.login__btn {
    display: flex;
    margin: 0 16px;
    border: none;
    position: relative;
    height: 60px;
}

.login__btn-img {
    margin: 16px 4px 0 0;
}

.login__btn-open {
    color: $green;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.login__form {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 60px;
    left: -55px;
    padding: 15px;
    border-radius: 12px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid $gray;
    transition: opacity 0.3s ease; 
}

.login__form-login {
    width: 100%;
}

.login__form-psw {
    width: 100%;
}

.login__form-submit {
    height: 40px;
    margin: 15px 0 5px 0;
    cursor: pointer;
}

.login__form-link {
    text-decoration: underline;
    cursor: pointer;
}

.login__btn:hover .login__form,
.login__btn-open:hover + .login__form {
    // display: flex;
    opacity: 1;
}
