.menuLogin {
    padding: 0 5%;

    .menuLogin__form {
        display: none;
        margin-top: 15px;
        padding: 15px;
        border-radius: 12px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 0.5px solid $gray;
    }
}

.lmenuLogin__login {
    width: 100%;
}
.menuLogin__psw {
    width: 100%;
}
.menuLogin__submit {
    height: 40px;
    margin: 15px 0 5px 0;
    cursor: pointer;
}
.menuLogin__ink {
    text-decoration: underline;
    cursor: pointer;
}

.menuLogin__login {
    display: flex;
    // margin: 0 16px;
    border: 1px solid $green;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    cursor: pointer;

    img {
        margin: 11px 4px 14px 0;
        padding-top: 4px;
    }

    button {
        color: $green;
        // width: 100px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &:hover {
        background-color: $green;
        color: white;

        button {
            color: white;
        }
    }
}

.menuLogin__reg {
    background-color: $green;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    color: white;
    border: 1px solid $green;
    cursor: pointer;

    &:hover {
        color: $green;
        background-color: white;
    }
}

.active {
    display: flex;
}