.register2 {
    display: flex;
    align-items: center;
    color: $textGray;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
    }

    &__main {
        position: relative;
        margin-top: 3ch;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 380px;
        text-align: center;
    }

    &__input {
    }

    &__nickname-tick {
        position: absolute;
        top: 305px;
        right: 15px;
        display: none;
    }

    &__upload {
        display: none;
    }

    &__upload-label {
        margin: 20px 0;
        cursor: pointer;
        height: 120px;
        width: 120px;
        border: 1px solid $textGraySecondary;
        border-radius: 50%;
        background-image: url(../../img/svg/upload_user_img.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__checkbox-container, 
    &__checkbox-container2 {
        position: absolute;
        top: 640px;
        right: 90px;
        transform: translateX(50%);
        font-size: 12px;
        display: flex;   
    }

    &__checkbox-container2 {
        top: 714px;
    }

    &__checkbox {
        margin: 0 6px 0 15px;
    }

    &__label {
    }

    &__e-label {
        font-size: 11px;
        position: relative;

        &:nth-child(5),
        &:nth-child(8) {
            left: -160px;
        }
        &:nth-child(10) {
            left: -175px;
        }
        &:nth-child(12) {
            left: -163px;
        }
        &:nth-child(14) {
            left: -164px;
        }
        &:nth-child(17) {
            left: -172px;
        }
        &:nth-child(20) {
            left: -114px;
        }    
    }

    &__input {
        height: 44px;
        width: 100%;
    }

    &__footer {
        width: 100%;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        // align-items: center;
        justify-content: center;
    }

    &__footer-title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__social-container {
        display: flex;
        align-items: center;
    }

    &__social-icon {
        height: 20px;
        width: 21px;
        margin-right: 15px;
    }

    &__btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        max-width: 380px;

        * {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__btn1 {
        margin-right: 15px;
        background-color: white;
        color: $green;
        width: 100%;
        min-width: 0;
    }

    &__btn2 {
        margin-left: 15px;
        padding-left: 25px;
        min-width: 0;
        // max-width: 175px;
        width: 100%;

        &::before {
            content: '';
            background-image: url(../../img/svg/save_icon.svg);
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            transform: translate(-100%, -5%);
            position: absolute;
        }
    }

    &__btn-hover {
        &:hover {
            &::before {
                filter: invert(56%) sepia(67%) saturate(2817%) hue-rotate(118deg) brightness(96%) contrast(93%);
            }
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 409px) {
    .register2 {
        &__checkbox-container {
            top: 660px;
        }

        &__checkbox-container2 {
            top: 710px;
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 768px) {
    .register2 {
        &__body {
            margin-bottom: 30px;
        }

        &__main {
            max-width: none;
            width: 100%;
            text-align: center;
        }

        &__nickname-tick {
            top: 314px;
        }

        &__input, 
        &__footer, 
        &__btn-container  {
            max-width: none;
            width: 100%;
        }

        &__e-label {
            &:nth-child(5),
            &:nth-child(8) {
                left: -45.8%;
            }
            &:nth-child(10) {
                left: -48%;
            }
            &:nth-child(12) {
                left: -45.8%;
            }
            &:nth-child(14) {
                left: -46%;
            }
            &:nth-child(17) {
                left: -47%;
            }
            &:nth-child(20) {
                left: -39%;
            }
        }

        &__checkbox-container {
            top: 678px;
        }

        &__checkbox-container2 {
            top: 760px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .register2 {
        &__body {
            margin-bottom: 30px;
        }

        &__nickname-tick {
            right: 30px;
        }

        &__input, 
        &__footer, 
        &__btn-container {
            max-width: 344px;
        }

        &__input {
            &:nth-child(15), 
            &:nth-child(18) {
                margin-bottom: 0px;
            }
        }

        &__btn1 {
            margin-right: 10px;
        }

        &__checkbox-container,
        &__checkbox-container2 {
            position: relative;
            left: 0;
            transform: translateX(45%);
            top: 3px;
        }

        &__e-label {
            &:nth-child(5),
            &:nth-child(8) {
                left: -145px;
            }
            &:nth-child(10) {
                left: -160px;
            }
            &:nth-child(12) {
                left: -146px;
            }
            &:nth-child(14) {
                left: -148px;
            }
            &:nth-child(17) {
                left: -155px;
            }
            &:nth-child(20) {
                left: -97px;
            }
        }
    }
}