<div class="about">
    <div class="about__body container">
        <img src="../img/about/header.png" alt="header_background" class="about__header-background">
        <div class="about__header">
            <p class="about__header-title">Allenergetics</p>
            <p class="about__header-description">Научно-популярный портал для энергетиков, основанный в 2018 году. 
                Мы команда специалистов и инженеров, которые могут предложить миру и людям уникальные технологии для использования альтернативных источников энергии. 
            </p>
        </div>
        <div class="about__main">
            <div class="about__section1">
                <img src="../img/about/section-1.png" alt="section1-img" class="about__section1-img">
                <p class="about__section1-text">Много лет мы трудимся над программами, которые научат вас легко и просто использовать и применять в вашей повседневной жизни естественную природную энергию.</p>
            </div>
            <img src="../img/about/main.png" alt="background-img" class="about__object-1">
            <div class="about__section2">
                <p class="about__section2-title">Мы хотим</p>
                <div class="about__section2-container">
                    <div class="about__section2-item">
                        <img src="../img/about/section-2-1.png" alt="section2-img" class="about__section2-img">
                        <p class="about__section2-text">Рассказать</p>
                        <p class="about__section2-subtext">Об альтернативных источниках энергии и дать возможность их использовать.</p>
                    </div>
                    <div class="about__section2-item">
                        <img src="../img/about/section-2-2.png" alt="section2-img" class="about__section2-img">
                        <p class="about__section2-text">Помочь</p>
                        <p class="about__section2-subtext">Извлечь экономическую выгоду для вас и ваших близких.</p>
                    </div>
                    <div class="about__section2-item">
                        <img src="../img/about/section-2-2.png" alt="section2-img" class="about__section2-img">
                        <p class="about__section2-text">Сохранить</p>
                        <p class="about__section2-subtext">Окружающую среду для не только для будущих поколений, но и для нас с вами.</p>
                    </div>
                </div>
            </div>
            <div class="about__section3">
                <p class="about__section3-text">Мир развивается и не стоит на месте, а мы идем в ногу с прогрессом.</p>
            </div>
            <img src="../img/about/main-2.png" alt="background-img" class="about__object-2">
            <div class="about__section4">
                <div class="about__section4-container">
                    <p class="about__section4-text">Наша миссия</p>
                    <p class="about__section4-subtext">
                        Объединенить в одном месте специалистов, а также инженеров в области энергетики и гуру науки. А также предоставить для каждого желающего свободный доступ к статьям, написанных сообществом, призванных нести в широкие массы знание о том, как получать, преобразовывать и использовать энергию, не нанося при этом, вреда окружающей среде.
                        <br>
                        <br>
                        Вероятно, благодаря нашему проекту, мир станет лучше. 
                    </p>
                </div>
                <img src="../img/about/section-4.png" alt="section4-img" class="about__section4-img">
            </div>
        </div>
        <div class="about__footer">
            <p class="about__footer-text">Здесь будут рождаться новые технологии.</p>
            <button class="about__footer-btn btn-big">Поехали</button>
        </div>
    </div>
</div>