<div class="article">
    <div class="article__body container">

        <div class="article__main">
            <div class="article__main-text">
              <div class="article__page">
                <p class="cart2__text2">Все статьи</p>
                <img src="../img/svg/cart2_icon.svg" alt="stage_icon" class="cart2__icon">
                <p class="cart2__text2">Солнечная энергия</p>
                <img src="../img/svg/cart2_icon.svg" alt="stage_icon" class="cart2__icon">
                <p class="cart2__text">Предел КПД солнечных элементов можно поднять до 40%</p>
              </div>
              <div class="article__header">
                <div class="article__info">
                    <img src="" alt="" class="article__user-img">
                    <p class="article__nickname">aeroboy123</p>
                    <p class="article__date">8 октября 2018</p>
                    <p class="article__time">12 минут чтения</p>
                </div>
                <p class="article__title">Предел КПД солнечных элементов можно поднять до 40%</p>
                <div class="article__stats">
                    <p class="article__stats-icon">1269</p>
                    <p class="article__stats-icon">26</p>
                    <p class="article__stats-icon">72</p>
                </div>
                <p class="article__type">Солнечная єнергия</p>
              </div>
              <div class="article__text">
                <img src="../img/background.png" alt="img">
                <p>
                  Одним из важнейших параметров солнечных панелей является эффективность. Она показывает, какой процент поглощаемой солнечной энергии превращается в электрическую. В теории предел для кремниевых солнечных батарей составляет 29,3%, но ученые из исследовательского центра им. Гельмгольца (HZB) полагают, что это ограничение можно обойти за счет включения в солнечную ячейку слоев из органических молекул. Эти слои запускают квантово-механический процесс разделения синих и зеленых фотонов. Как следствие, количество электротока удваивается.
                  <br><br>
                  Принцип новой технологии заключается в следующем: обычно на фотон генерируется одна пара носителей заряда, состоящая из отрицательного и положительного электронов, но команда ученых из HZB решила сконструировать фотоэлемент таким образом, что некоторые высокоэнергетичные фотоны используются для генерации одновременно двух пар носителей заряда. Исследователи назвали это "эффектом мультипликатора".
                </p>
                <img src="../img/background.png" alt="img">
                <p>
                  Основная задача была в том, чтобы разделить триплетные экситоны на границе с кремнием – это отделяло бы положительные носители заряда от отрицательных и позволило бы им вносить вклад в производство энергии. В эксперименте на практике было доказано, что это возможно. Австралийский ученый Роуэн Маккуин, член команды из HZB, утверждает, что с помощью такого метода можно достичь двойного нормального предела эффективности для солнечных батарей, или, как минимум, увеличить его до 40%.
                  <br><br>
                  В работе, опубликованной исследователями NBZ в журнале «Materials Horizons», была описана интеграция на поверхность кремниевой солнечной батареи слоя делящихся кристаллов тетрацена толщиной всего 100 нанометров. В итоге стало понятно, что расщепление триплетных пар еще более эффективно с дополнительно введенным органическим проводником под названием PEDOT:PSS.
                  <br>
                </p>
                <p class="article__highlited-text">
                  Тетрацен поглощает сине-зеленую часть спектра, а низкоэнергетичные фотоны поглощаются кремнием. Используя подобную симуляцию, ученые сделали вывод, что в настоящее время около 5-10% триплетных пар, образующихся в слое тетрацена, можно добавить к выходной мощности батареи. Для всей группы HZB это уже большой успех, исследователи готовы и далее работать над идеей повышения КПД солнечных батарей.
                </p>
                <p>
                  Исследователи из других стран также активно ищут решения для повышения энергоэффективности солнечных элементов. Придуманы новые технологии, в которых ключевая роль отводится уже не кремнию. Например, Ученые с кафедры энергетических материалов из Университета Окинавы (OIST) уверены, что нашли инновационный способ создания дешевых перовскитных солнечных панелей, КПД которых не уступает традиционным аналогам.
                  <br><br>
                </p>
                <div class="article__src">
                  Источник: <a href="#">helmholtz-berlin.de</a>
                  <a href="#" class="article__pdf">Сгенерировать PDF</a>
                </div>
              </div>
              <div class="article__tags">
                <p>Теги:</p>
                <p>Солнечная энергия, Фотоэлементы, Технологии, Германия, Изобретение, Энергоэффективность, Рекорд, Солнечные батареи, Солнечные панели, ВИЭ, Наука</p>
              </div>
              <div class="article__pagination">
                <a href="#" class="">Предыдущая</a>
                <a href="#" class="">Следующая</a>
              </div>
              <div class="article__share-container">
                <div class="article__share-likes">
                  <p>Понравилась статья?</p>
                  <p class="">Да (128)</p>
                  <p class="">Нет (15)</p>
                </div>
                <div class="article__share-shares">
                  <p>Поделись с друзьями:</p>
                  <img src="../img/svg/facebook_color.svg" alt="facebook">
                  <img src="../img/svg/linkedin_color.svg" alt="linkedin">
                  <img src="../img/svg/viber_icon.svg" alt="viber">
                  <img src="../img/svg/telegram_color.svg" alt="telegram">
                  <img src="../img/svg/whatsapp_color.svg" alt="whatsapp">

                </div>
              </div>
            </div>
            <div class="article__main-aside">
              @include('../partials/bigAdd.html', {
                src: '../img/Iphone.png'
              })

              <div class="article__popular">
                <p>Популярное</p>
                @include('../partials/articlePopular.html', {
                  title: 'jjj',
                  views: '111',
                  comms: '45',
                  shares: 6
                })


              </div>
            </div>

        </div>
        <div class="article__similar">
          <p>Похожие публикации:</p>
          <div class="article__similar-container">
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
          </div>
        </div>
        <div class="article__more">
          <p>Больше интересного:</p>
          <div class="article__more-container">
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })
            @include('./articlePreview.html', {
              title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
              color: '#ffffff',
              category: '',
            })

          </div>
        </div>
        <div class="article__comms">
          <p>Комментарии (26)</p>

          @include('./comment.html', {
            name: 'aeroboy123',
            img: '../img/user.png',
            time: '10 мин назад',
            text: 'Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации модели развития.',
            likes: '54',
            dislikes: 54,
          })
          @include('./comment.html', {
            name: 'aeroboy123',
            img: '../img/user.png',
            time: '10 мин назад',
            text: 'Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации модели развития.',
            likes: '54',
            dislikes: 54,
          })
          @include('./comment.html', {
            name: 'aeroboy123',
            img: '../img/user.png',
            time: '10 мин назад',
            text: 'Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации модели развития.',
            likes: '54',
            dislikes: 54,
          })
          @include('./comment.html', {
            name: 'aeroboy123',
            img: '../img/user.png',
            time: '10 мин назад',
            text: 'Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации модели развития.',
            likes: '54',
            dislikes: 54,
          })
          <button class="btn-big library__loadMore">Загрузить еще</button>
        </div>

    </div>
</div>
