<div class="book">
    <div class="book__body container">
        <div class="book__main">
            <div class="book__container">
                <div class="book__head">
                    <img src="	https://images.prom.ua/3858495475_w640_h640_3858495475.jpg" alt="book_icon" class="book__img">
                    <div class="book__info">
                        <p class="book__title">Альтернативные источники энергии и энергосбережения</p>
                        <p class="book__author">В. Германович</p>
                        <div class="book__rate">
                            <svg class="book__rate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                            <svg class="book__rate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                            <svg class="book__rate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                            <svg class="book__rate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate"  stroke-width="0"/>
                            </svg>
                            <svg class="book__rate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#121121" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                        </div>
                        <p class="book__price">$12.99</p>
                        <button class="book__btn btn-big">Купить</button>
                        <div class="book__type">
                            <input type="radio" id="fb2">
                            <input type="radio" id="epub">
                            <input type="radio" id="mobi">
                            <input type="radio" id="pdf">
                        </div>
                        <div class="book__mobilebtn">
                            <p class="book__mobilebtn-text">Купить(epub)</p>
                            <p class="book__mobilebtn-icon">↓</p>
                        </div>

                    </div>
                </div>
                <div class="book__text">
                    <p class="book__description-title">Описание</p>
                    <p class="book__description">
                        Равным образом постоянный количественный рост и сфера нашей активности 
                        влечет за собой процесс внедрения и модернизации новых предложений. Разнообразный и 
                        богатый опыт рамки и место обучения кадров позволяет оценить значение модели развития. 
                        Задача организации, в особенности же новая модель организационной деятельности в значительной степени 
                        обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Равным образом укрепление и 
                        развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
                        <br>
                        <br>
                        Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой 
                        интересный эксперимент проверки существенных финансовых и административных условий. Равным образом реализация намеченных 
                        плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
                    </p>
                    <div class="book__myrate">
                        <p class="book__myrate-title">Оцените книгу</p>
                        <div class="book__myrate-stars">
                            <svg class="book__myrate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                            <svg class="book__myrate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                            <svg class="book__myrate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                            <svg class="book__myrate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate"  stroke-width="0"/>
                            </svg>
                            <svg class="book__myrate-star" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#121121" stroke="#000000" stroke-width="0.00047939999999999994">
                                <use xlink:href="../img/svg/star_rate_icon.svg#star_rate" stroke-width="0"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book__footer">
            <p class="book__footer-title">Похожие книги</p>
            <div class="book__footer-grid">
                @include('./libraryCardSmal.html', {
                    "title" : "Бытовые современные счетчики газа и газоанализаторы",
                    "author" : "А. Кашкаров",
                    "rate" : '4',
                    "img" : "https://images.prom.ua/3858495475_w640_h640_3858495475.jpg",
                })
                @include('./libraryCardSmal.html', {
                    "title" : "Бытовые современные счетчики газа и газоанализаторы",
                    "author" : "А. Кашкаров",
                    "rate" : '4',
                    "img" : "https://images.prom.ua/3858495475_w640_h640_3858495475.jpg",
                })
                @include('./libraryCardSmal.html', {
                    "title" : "Бытовые современные счетчики газа и газоанализаторы",
                    "author" : "А. Кашкаров",
                    "rate" : '4',
                    "img" : "https://images.prom.ua/3858495475_w640_h640_3858495475.jpg",
                })
                @include('./libraryCardSmal.html', {
                    "title" : "Бытовые современные счетчики газа и газоанализаторы",
                    "author" : "А. Кашкаров",
                    "rate" : '4',
                    "img" : "https://images.prom.ua/3858495475_w640_h640_3858495475.jpg",
                })
            </div>
        </div>
    </div>
</div>