<div>
    <div class="menu__button" id="menu__button" onclick="openMenu()" class='cursor-pointer'>
        <div class='stripe'></div>
        <div class='stripe middle'></div>
        <div class='stripe'></div>
    </div>
    <div class="menu" id="menu" onclick="closeOut(event)">
        <div class="menu__body" id='menu__body'>
          <div class="menu__header">
                <div class="menu__close" id="menu_closeButton" onclick="closeMenu()">
                    <span class='stripe-1'></span>
                    <span class='stripe-2'></span>
                  </div>
                  <div class='menu__logo'>
                    <a href="#"><img src="../img/svg/logo.svg" alt="logo"></a>
                  </div>
          </div>
          <div class='menu__user'>
            @include('./menuLoginStatus.html')
          </div>
          <div class='menu__categories'>
            <h2>Разделы</h2>
            @include('./categoryItem.html')
          </div>
          <nav class="menu__nav">
            <a href="#" class="menu__nav-item"><p>Библиотека</p></a>
            <a href="#" class="menu__nav-item"><p>Видеоблог</p></a>
            <a href="#" class="menu__nav-item"><p>О проекте</p></a>
            <a href="#" class="menu__nav-item"3><p>Контакты</p></a>
          </nav>
          <div class='menu__footer'>
            <div class="menu__search">
                  <img alt="Search" src="../img/svg/searchIcon.svg" alt="SearchIcon">
                <input class="menu__search-input" placeholder="Поиск по сайту">
              </div>
            <div class="menu__lang" id="menu_lang" class='lang' onclick="openLang()">
              <img class='menu__lang-flag' width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/>
              <span>Русский</span>
              <img class='menu__lang-arrow' width="10" height="30" src="https://img.icons8.com/ios-glyphs/30/0f8040/sort-down.png" alt="sort-down"/>
              <div id="menu_lang_open" class="menu__lang-open">
                <a href="#"><div class="lang__open-item" onclick="closeLang()">
                    <img class='flag' width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/>
                    <span onclick="closeLang()">Русский</span>
                </div></a>
                <a href="#"><div class="lang__open-item" onclick="closeLang()">
                    <img class='flag' width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/>
                    <span>Русский</span>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>