<div class="cart2 container">
    <div class="cart2__header">
        <p class="cart2__text">Вход</p>
        <img src="../img/svg/cart2_icon.svg" alt="stage_icon" class="cart2__icon">
        <p class="cart2__text2">Оплата покупок</p>

    </div>
    <div class="cart2__container">
        <button class="cart2__nologin btn-big">Продолжить без регистрации</button>
        <button class="cart2__reg btn-big">Создать новый аккаунт</button>
        <p class="cart2__login" onclick="openForm()">У меня уже есть аккаунт</p>
    </div>
    <div class="cart2__form">
        <div class="cart2__form-container">
            <img src="../img/svg/cross.svg" alt="delete" class="cart2__form-close" onclick="closeForm()"> 
            <p class="login__form-title">Вход</p>
            <p class="login__form-l-title">Email</p>
            <input class="form-input login__form-login"/>
            <p class="login__form-p-title">Пароль</p>
            <input class="form-input login__form-psw"/>
            <button class="login__form-checkbox" type="checkbox"></button>
            <a class="login__form-help">Восстановить пароль</a>
            <button class="btn-big login__form-submit">Войти</button>
        </div>
    </div>
</div>