<div class="cart3">
    <div class="cart3__body container">
        <p class="cart3__title">Оплата покупок</p>
        <div class="cart3__text">
            <p class="cart3__order">Заказ #1256985</p>
            <p class="cart3__sum">$22.97</p>
            <p class="cart3__open" onclick="toggleList()">Подробнее <img class="cart3__open-icon" alt="open" src="../img/svg/arrow_down.svg"></p>
        </div>
        <div class="cart3__list">
            <div class="cart3__item">
                <p class="cart3__price">$12.99</p>
                <p class="cart3__name">Альтернативные источники энергии и жнергосбережение</p>
                <p class="cart3__type">mobi</p>
            </div>
            <div class="cart3__item">
                <p class="cart3__price">$2.99</p>
                <p class="cart3__name">Наладка электрооборудования </p>
                <p class="cart3__type">pdf</p>
            </div>
            <div class="cart3__item">
                <p class="cart3__price">$6.99</p>
                <p class="cart3__name">Закроепление статьи в топе публикаций</p>
                <p class="cart3__type">7 дней</p>
            </div>
            <button class="cart3__change btn-big">Изменить заказ</button>
        </div>
        <div class="cart3__form">
            <input type="text" class="cart3__input form-input">
            <input type="text" class="cart3__input form-input">
            <input type="text" class="cart3__input form-input">
            <input type="text" class="cart3__input form-input">
        </div>
        <button class="cart3__btn btn-big">Оплатить</button>
    </div>
</div>