<div class="category">
  <div class="category__container container">
    <div class="category__header">
      <p class="category__title">Солнечная энергия</p>
      <p class="category__subtitle">123 статьи доступно</p>
    </div>
    <div class="category__main">
      <div class="article__popular">
        <p>Популярное</p>
        @include('../partials/articlePopular.html', {
          text: 'Цены на солнечные батареи в 2018 снизились на 20%',
          views: '1269',
          comms: '26',
          shares: 72
        })
        @include('../partials/articlePopular.html', {
          text: 'Как повысить эффективность ветряных электростанций придумали ученые США',
          views: '1269',
          comms: '26',
          shares: 72
        })
        @include('../partials/articlePopular.html', {
          text: 'Умная экосистема Renault обеспечит возобновляемой энергией целый остров',
          views: '1269',
          comms: '26',
          shares: 72
        })
        @include('../partials/articlePopular.html', {
          text: 'Первые полностью черные солнечные панели запущены в производство',
          views: '1269',
          comms: '26',
          shares: 72
        })
      </div>
      @include('./heroSlider.html')
    </div>
    <div class="category__other">
      <div class="category__grid">
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('../partials/bigAdd.html', {
          src: '../img/Iphone.png'
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
        @include('./articlePreview.html', {
          title: 'Новый завод по производству солнечных панелей заработал в Энергодаре',
          color: '#ffffff',
          category: '',
        })
      </div>
      <p class="category__end">В этом разделе больше статей нет. <br> Мы постараемся писать быстрееё</p>
    </div>
  </div>
</div>
