<div class="comment">
  <div class="comment__header">
    <img src='@img' alt="user_logo">
    <p class="comment__name">@name</p>
    <p class="comment__time">@time</p>
  </div>
  <p class="comment__text">
    @text
  </p>
  <div class="comment__activity">
    <img src="../img/svg/like.svg" alt="like" class="comment__like" data-@likes>
    <span>@likes</span>
    <img src="../img/svg/dislike.svg" alt="dislike" class="comment__dislike" data-@dislikes>
    <span>@dislikes</span>
    <p class="comment__answer">Ответить</p>
  </div>
</div>
