<div class="contacts">
    <div class="contacts__body default-body">
        <div class="contacts__form">
            <p class="contacts__form-title">Контакты</p>
            <p class="contacts__form-mail">info@sourcenergy.com</p>
            <p class="contacts__form-phone">0 (800) 659 15 47</p>
            <input type="text" class="contacts__form-name">
            <input type="text" class="contacts__form-contact">
            <input type="text" class="contacts__form-msg">
            <button>Отправить</button>
        </div>
        <div class="contacts__map">

        </div>
    </div>
</div>