<div class="devPanel">
    <a href="index.html" class="devPanel__link">Главная</a>
    <a href="libraryPage.html" class="devPanel__link">Библиотека</a>
    <a href="blogPage.html" class="devPanel__link">Видеоблог</a>
    <a href="contactsPage.html" class="devPanel__link">Контакты</a>
    <a href="" class="devPanel__link">О проекте</a>
    <a href="" class="devPanel__link">Кабинет</a>
    <a href="registerPage.html" class="devPanel__link">Регистрация</a>
    <a href="register2Page.html" class="devPanel__link">Регистрация_2</a>
    <a href="userPage.html" class="devPanel__link">Пользователь</a>
    <a href="bookPage.html" class="devPanel__link">Страница книги</a>
    <a href="cartPage.html" class="devPanel__link">Корзина</a>
    <a href="cart2Page.html" class="devPanel__link">Корзина_2</a>
    <a href="cart3Page.html" class="devPanel__link">Корзина_3</a>
    <a href="userAgreementPage.html" class="devPanel__link">Пользовательское соглашение</a>
</div>