<footer class="footer footer__small">
    <button class="footer__scroll" id="scrollToTopButton">↑</button>
    <div class="footer__bottom">
      <p class="footer__bottom-copyright">Copyright © Allenergetics 2024. Все права защищены.</p>
      <div class="footer__bottom-developers">
        <span>
          <p>Site design</p>
          <a class="morkva" href="https://morkva.com.ua/" target="_blank" rel="nofollow"><img src="../img/svg/morkva.svg" alt="morkva"></a>
        </span>
        <p>Development <a href="https://seigerit.com/">Seiger</a></p>
      </div>
    </div>
  </footer>
  
  