<footer class="footer">
  <button class="footer__scroll" id="scrollToTopButton">↑</button>
  <div class="footer__top">
    <div class="footer__top-about">
      <a>О нас</a>
      <a>Контакты</a>
      <a>Пользовательское соглашение</a>
      <ul>
        <a href="#"><img src="../img/svg/facebook_icon.svg" alt="facebook" class=""></a>
        <a href="#"><img src="../img/svg/x_icon.svg" alt="x" class=""></a>
        <a href="#"><img src="../img/svg/linkedin_icon.svg" alt="linkedin" class=""></a>
      </ul>
    </div>
    <div class="footer__top-nav"></div>
    <div class="footer__top-mail">
      <p>Хочешь быть в курсе послдених новостей?</p>
      <p>Подпишись на нашу рассылку, и получай первым все самое свежее.</p>
      <div class="footer__subscribe">
        <input class="footer__subscribe-input" placeholder="Введи свой email">
        <button class="btn-big footer__subscribe-btn">Подписаться</button>
      </div>
    </div>
    <div class="footer__top-mobile-mail">
      <p>Подписаться на рассылку</p>
      <div class="footer__subscribe">
        <input class="footer__subscribe-input" placeholder="Введи свой email">
        <button class="btn-big footer__subscribe-btn">Подписаться</button>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__bottom-copyright">Copyright © Allenergetics 2024. Все права защищены.</p>
    <div class="footer__bottom-developers">
      <span>
        <p>Site design</p>
        <a class="morkva" href="https://morkva.com.ua/" target="_blank" rel="nofollow"><img src="../img/svg/morkva.svg" alt="morkva"></a>
      </span>
      <p>Development <a href="https://seigerit.com/">Seiger</a></p>
    </div>
  </div>
</footer>

