<header class="header">
  <div class="header__container">
    <div class="header__burger">
      @include("./burgerMenu.html")
    </div>
    <div class="header__logo">
      @include("../img/svg/logo.svg")
    </div>
    <div class="header__nav__container">
      <nav>
        <!-- <div class="nav_button">
          <div class="btn_container">
            <div class="btn_stripe1"></div>
            <div class="btn_stripe2"></div>
            <div class="btn_stripe1"></div>
          </div>
          <span>Разделы</span>
        </div> -->
        <span class="nav-item">Разделы</span>
        <span class='nav-item'>Библиотека</span>
        <span class='nav-item'>Видеоблог</span>
        <span class='nav-item'>О проекте</span>
        <span class='nav-item'>Контакты</span>

      </nav>

    </div>
    <div class="header_search">
      <div class="search">
        <div class="search_icon">@include("../img/svg/searchIcon.svg")</div>
        <input placeholder="Поиск по сайту">
      </div>
    </div>
    <div class="header_lang">
      <img width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/>
    </div>
    <div class="header_cart">
      <img width="24" height="8" src="https://img.icons8.com/material-rounded/24/bababa/shopping-cart.png" alt="shopping-cart"/>
    </div>
    <div class="header_search_tablet">
      @include("../img/svg/searchIcon.svg")
    </div>
    <div class="header_login">
      @include("./loginStatus.html")
    </div>
  </div>
</header>
