<header class="header">
  <div class="header__body">
    <div class="header__burger">
      @include("./burgerMenu.html")
    </div>
    <div class="header__logo">
      <a href="#"><img src="../img/svg/logo.svg" alt="logo"></a>
    </div>
    <div class="header__nav">
      <nav class="nav__body">
        <!-- <div class="nav_button">
          <div class="btn_container">
            <div class="btn_stripe1"></div>
            <div class="btn_stripe2"></div>
            <div class="btn_stripe1"></div>
          </div>
          <span>Разделы</span>
        </div> -->
        <a href="#" class="nav__item"><p>Разделы</p></a>
        <a href="#" class="nav__item"><p>Библиотека</p></a>
        <a href="#" class="nav__item"><p>Видеоблог</p></a>
        <a href="#" class="nav__item"><p>О проекте</p></a>
        <a href="#" class="nav__item"><p>Контакты</p></a>
      </nav>
    </div>
    <div class="header__search">
      <div class="search">
        <!-- <div class="search_icon"><img src="../img/svg/searchIcon.svg" alt="SearchIcon" ></div> -->
        <input placeholder="Поиск по сайту">
      </div>
    </div>
    <div class="header__lang">
      <a href="#"><img width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/></a>
      <div>
        <a href="#"><img width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/></a>
        <a href="#"><img width="24" height="8" src="https://img.icons8.com/color/48/russian-federation-circular.png" alt="russian-federation-circular"/></a>
      </div>
    </div>
    <div class="header__cart">
      <img width="24" height="8" src="https://img.icons8.com/material-rounded/24/bababa/shopping-cart.png" alt="shopping-cart"/>
      <div>
        <p>Товаров: <span>0</span></p>
      </div>
    </div>
    <div class="header__search-tablet">
      <img src="../img/svg/searchIcon.svg" alt="SearchIcon">
      <div>
        <div class="search tablet">
          <input class="tablet" placeholder="Поиск по сайту">
        </div>
      </div>
    </div>
    <div class="header__login">
      @include("./loginStatus.html")
    </div>
  </div>
</header>
