<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Allenergetics</title>
  <link rel="preload" href="fonts/MullerRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAthfhoPU3B8tkRXPRYic_rxSkGHZGp5A4&callback=console.debug&libraries=maps,marker&v=beta"></script>
</head>
