<div class="hero">
    <div class="hero__slide">
        <div class="hero__label">
            <p>Солнечная энергия</p>
        </div>
        <div class="hero__social">
            <a href="#"><img src="../img/svg/facebook_icon.svg" alt="facebook_icon" class=""></a>
            <a href="#"><img src="../img/svg/x_icon.svg" alt="x_icon" class=""></a>
            <a href="#"><img src="../img/svg/linkedin_icon.svg" alt="linkedin_icon" class=""></a>
        </div>
        <div class="hero__text">
            <p class="hero__text-title">Мощнейшая в мире ветровая турбина MHI Vestas выдаст 10МВт энергии</p>
            <p class="hero__text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut perspiciatis porro placeat vel nulla molestias suscipit in repellat commodi id. Eligendi, at ipsa ab quam cupiditate neque dolorem. Sit, est.</p>
            <button class="hero__text-button btn-big">Подробнее →</button>
        </div>
        <div class="hero__about">
            <div class="hero__about-views">
                <img src="../img/views_icon.png" alt="views">
                <p>1269</p>
            </div>
            <div class="hero__about-comments">
                <img src="../img/comments_icon.png" alt="comments">
                <p>26</p>
            </div>
            <div class="hero__about-shares">
                <img src="../img/svg/share_icon.svg" alt="share">
                <p>72</p>
            </div>
            <div class="hero__about-user">
                <!-- <img> -->
                <div>
                    <p class="user-name">aeroboy123</p>
                    <p>8 окт 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>