<div class="home">
    <div class="home__body default-body">
        <div class="home__header">
            <div class="home__category">
                <p class="home__category-title">Разделы</p>
                @include('./categoryItem.html')
            </div>
            <div class="home__hero">
                @include('./heroSlider.html')
            </div>
        </div>
        <div class="home__grid-top" id="topList">
            <li class="grid__item">
                <div class="grid__item-label">
                    <p>Солнечная энергия</p>
                </div>
                <div class="grid__item-text">
                    <p class="grid__item-title">Мощнейшая в мире ветровая турбина MHI Vestas выдаст 10МВт энергии</p>
                    <p class="grid__item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut perspiciatis porro placeat vel nulla molestias suscipit in repellat commodi id. Eligendi, at ipsa ab quam cupiditate neque dolorem. Sit, est.</p>
                    <a class="grid__item-button">Подробнее →</a>
                </div>
                <div class="grid__item-about">
                    <div class="hero__about-views">
                        <img src="../img/views_icon.png" alt="views">
                        <p>1269</p>
                    </div>
                    <div class="hero__about-comments">
                        <img src="../img/comments_icon.png" alt="comments">
                        <p>26</p>
                    </div>
                    <div class="hero__about-shares">
                        <img src="../img/svg/share_icon.svg" alt="share">
                        <p>72</p>
                    </div>
                    <div class="hero__about-user">
                        <!-- <img> -->
                        <div>
                            <p class="user-name">aeroboy123</p>
                            <p>8 окт 2018</p>
                        </div>
                    </div>
                </div>
            </li>

        </div>
    </div>
</div>