<div class="home">
    <div class="home__body default-body">
        <div class="home__header">
            <div class="home__category">
                <p class="home__category-title">Разделы</p>
                @include('./categoryItem.html')
            </div>
            <div class="home__hero">
                @include('./heroSlider.html')
            </div>
        </div>
        <div class="grid__top">
            <div class="home__card home__mobilecategory">
                <p class="home__category-title">Разделы</p>
                @include('./categoryItem.html')
            </div>
            @include('./topArticles.html', {
              "title" : 'Гигантская приливная турбина SR2000 поставла новый рекорд',
              "background" : 'https://allenergetics.com/cache/8/8cbeee6b638c1eab220ac286e01f97d7.png',
              "description" : '',
              "labelColor" : '#8cc737'
            })
            @include('./topArticles.html', {
                "title" : 'Созданы инновационные солнечные модули для автономного дерижабля',
                "background" : 'https://allenergetics.com/cache/8/8cbeee6b638c1eab220ac286e01f97d7.png',
                "description" : '',
                "about" : 'none',
                "labelColor" : '#e81e62',
                "button" : 'none',
            })
            @include('./topArticles.html', {
                "title" : 'Предел КПД солнечных элементов можно поднять до 40%',
                "background" : 'https://allenergetics.com/cache/8/8cbeee6b638c1eab220ac286e01f97d7.png',
                "description" : '',
                "labelColor" : '#f34236',
            })
            @include('./topArticles.html', {
                "title" : 'Крупные СЭС и ВЭС в Сахаре принесут в пустыню дожди',
                "background" : 'https://allenergetics.com/cache/8/8cbeee6b638c1eab220ac286e01f97d7.png',
                "description" : '',
                "labelColor" : '#663ab6',
            })
            @include('./topArticles.html', {
                "title" : 'Синергия блокчейн-энергетики и ВИЭ обеспечит захват $2-триллионного рынка',
                "background" : 'https://allenergetics.com/cache/8/8cbeee6b638c1eab220ac286e01f97d7.png',
                "description" : '',
                "about" : 'none',
                "labelColor" : '#50cfe0',
                "button" : 'none',
            })
        </div>
    </div>
</div>