<div class="library__cardbig">
    <div class="library__cardbig-header">
        <img class="library__cardbig-img" src=https://images.prom.ua/3858495475_w640_h640_3858495475.jpg alt="book_icon">
        <p class="library__cardbig-title">@title</p>
        <p class="library__cardbig-author">@author</p>
        <div class="library__cardbig-rate">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardbig-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardbig-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardbig-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardbig-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardbig-star">
        </div>
    </div>
    <p class="library__cardbig-description">
        @description
    </p>
    <div class="library__cardbig-type">
        <input type="radio" id="fb2">
        <input type="radio" id="epub">
        <input type="radio" id="mobi">
        <input type="radio" id="pdf">
    </div>
    <p class="library__cardbig-price">@price</p>
    <button class="library__cardbig-btn btn-big">Скачать</button>
    <div class="library__cardbig-select btn-big">
        <p>Скачать (epub)</p>
        <!-- <div></div> -->
    </div>
</div>