<div class="library__cardsmall">
    <img class="library__cardsmall-img" src=@img alt="book_icon">
    <div class="library__cardsmall-header">
        <p class="library__cardsmall-title">@title</p>
        <p class="library__cardsmall-author">@author</p>
        <div class="library__cardsmall-rate">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardsmall-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardsmall-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardsmall-star">
            <img src="../img/svg/star_yellow_icon.svg" alt="rate" class="library__cardsmall-star">
            <img src="../img/svg/star_grey_icon.svg" alt="rate" class="library__cardsmall-star">
        </div>
    </div>
</div>