<div class="login">
    <div class="login__btn">
        <div class="login__btn-open">
            <img class="login__btn-img" width="16" height="16" src="https://img.icons8.com/tiny-glyph/16/0f8040/enter-2.png" alt="enter-2"/>
            <p class="login__btn-text">Войти</p>
        </div>
        <div class="login__form">
            <p class="login__form-title">Вход</p>
            <p class="login__form-l-title">Email</p>
            <input class="form-input login__form-login"/>
            <p class="login__form-p-title">Пароль</p>
            <input class="form-input login__form-psw"/>
            <button class="login__form-checkbox" type="checkbox"></button>
            <a class="login__form-help">Восстановить пароль</a>
            <button class="btn-big login__form-submit">Войти</button>
            <span class="login__form-reg">Нет аккаунта?<a href="#" class="login__form-link"> Создай здесь!</a></span>
            <!-- <a href="#" class="login__form-link"><p>Забыли пароль?</p></a> -->
        </div>
    </div>
    <button class="login__reg btn-big">Регистрация</button>
</div>

