<div class="login">
    <div class="login_btn">
        <span class="login_btn-img"><img width="16" height="16" src="https://img.icons8.com/tiny-glyph/16/0f8040/enter-2.png" alt="enter-2"/></span>
        <button class="login_btn-open">Войти</button>
        <div class="login_btn-form">
            <input class="form-input login_btn-login" placeholder="Логин"/>
            <input class="form-input login_btn-psw" placeholder="Пароль"/>
            <button class="btn-big login_btn-submit">Войти</button>
            <p class="login_btn-link">Забыли пароль?</p>
        </div>
    </div>
    <button class="reg_btn btn-big">Регистрация</button>
</div>

