<div class="register2">
    <div class="register2__body container">
        <div class="register2__header cart2__header">
            <p class="cart2__text2">Создай аккаунт</p>
            <img src="../img/svg/cart2_icon.svg" alt="stage_icon" class="cart2__icon">
            <p class="cart2__text">Расскажи о себе</p>
        </div>
        <div class="register__main register2__main">
            <p class="register__title">Регистрация</p>
            <p class="register__subtitle">Это займет совсем немного. 
                <br class="register__br">
                Получай новости, комментируй, пиши посты.
            </p>
            <img src="../img/svg/reg_user.svg" alt="user_icon" class="register2__img">
            <input type="text" id="" class="register2__input register__input form-input">
            <input type="text" id="" class="register2__input register__input form-input">
            <input type="text" id="" class="register2__input register__input form-input">
            <input type="text" id="" class="register2__input register__input form-input">
            <input type="text" id="" class="register2__input register__input  form-input">
            <div class="register2__checkbox-container">
                <input type="radio" id="radio1" class="register2__checkbox" name="visibility">
                <label class="register2__label" for="radio1">Виден всем</label>
                <input type="radio" id="radio2" class="register2__checkbox" name="visibility" checked>
                <label class="register2__label" for="radio2">Скрыт</label>
            </div>
            <input type="text" id="" class="register__input register2__input form-input">
            <div class="register2__checkbox-container2">
                <input type="radio" id="radio1" class="register2__checkbox" name="visibility2" checked>
                <label class="register2__label" for="radio1">Виден всем</label>
                <input type="radio" id="radio2" class="register2__checkbox" name="visibility2">
                <label class="register2__label" for="radio2">Скрыт</label>
            </div>
            <input type="text" id="" class="register2__input register__input form-input">
        </div>
        <div class="register2__footer">
            <p class="register2__footer-title">Ссылки на социальные сети</p>
            <div class="register2__social-container">
                <img src="../img/svg/user_facebook.svg" alt="facebook" class="register2__social-icon">
                <input type="text" id="" class="register2__input form-input">
            </div>
            <div class="register2__social-container">
                <img src="../img/svg/user_twitter.svg" alt="facebook" class="register2__social-icon">
                <input type="text" id="" class="register2__input form-input">
            </div>
            <div class="register2__social-container">
                <img src="../img/svg/user_telegram.svg" alt="facebook" class="register2__social-icon">
                <input type="text" id="" class="register2__input form-input">
            </div>
            <div class="register2__social-container">
                <img src="../img/svg/user_linkedin.svg" alt="facebook" class="register2__social-icon">
                <input type="text" id="" class="register2__input form-input">
            </div>
            <div class="register2__social-container">
                <img src="../img/svg/user_google.svg" alt="facebook" class="register2__social-icon">
                <input type="text" id="" class="register2__input form-input">
            </div>
            <div class="register2__btn-container">
                <button class="register2__btn1 btn-big">Пропустить</button>
                <button class="register2__btn2 btn-big">Сохранить</button>
            </div>
        </div>
    </div>
</div>