<div class="register">
    <div class="register__body container">
        <div class="register__header cart2__header">
            <p class="cart2__text">Создай аккаунт</p>
            <img src="../img/svg/cart2_icon.svg" alt="stage_icon" class="cart2__icon">
            <p class="cart2__text2">Расскажи о себе</p>
        </div>
        <div class="register__main">
            <p class="register__title">Регистрация</p>
            <p class="register__subtitle">Это займет совсем немного. 
                <br class="register__br">
                Получай новости, комментируй, пиши посты.</p>
            <input type="text" id="emailInput" class="register__input form-input">
            <input type="password" id="passwordInput" class="register__input form-input">
            <button class="register__btn-disabled btn-big">Создать аккаунт</button>
            <div class="register__checkbox-container">
                <input type="checkbox" class="register__checkbox">
                <p class="register__checkbox-text">Я принимаю <span>пользовательское соглашение</span></p>
            </div>
        </div>
    </div>
</div>