<li class="grid__item home__card" style='background-image: url(@background);'>
    <div class="grid__item-label" style="background-color: @labelColor;">
        <p>Солнечная энергия</p>
    </div>
    <div class="grid__item-text">
        <p class="grid__item-title">@title</p>
        <p class="grid__item-description">@description</p>
        <a class="grid__item-button" style="display: @button">Подробнее →</a>
    </div>
    <div class="grid__item-about" style='display: @about'>
        <div class="hero__about-views">
            <img src="../img/views_icon.png" alt="views">
            <p>1269</p>
        </div>
        <div class="hero__about-comments">
            <img src="../img/comments_icon.png" alt="comments">
            <p>26</p>
        </div>
        <div class="hero__about-shares">
            <img src="../img/svg/share_icon.svg" alt="share">
            <p>72</p>
        </div>
        <div class="hero__about-user">
            <div>
                <p class="user-name">aeroboy123</p>
                <p>8 окт 2018</p>
            </div>
        </div>
    </div>
</li>
