<div class="agreement">
    <div class="agreement__body container">
        <p class="agreement__title">Пользовательское соглашение</p>
        <p class="agreement__text">Данное Пользовательское соглашение регламентирует правила и нормы использования интернет-ресурса seiger.pp.ua (далее – «Сайт»).</p>
        <p class="agreement__subtitle">Основные положения</p>
        <p class="agreement__text">
            Порядок использования имеющихся ресурсов и служб Сайта регулируется в соответствии с действующим законодательством Украины. Используя ресурсы Сайта, Пользователь принимает условия данного Пользовательского соглашения (далее – Соглашения).
            <br>
            <br>
            Администрация сайта имеет право самостоятельно и в любой момент менять условия Соглашения. Все правки и изменения вступают в силу с момента публикации на Сайте обновленного Соглашения. Если Пользователь не согласен с внесёнными изменениями, он должен отказаться от услуг Сайта и не использовать его ресурсы и службы.
        </p>
        <p class="agreement__subtitle">Права и обязанности Пользователя</p>
        <p class="agreement__text">
            Пользователь обязан не нарушать своими действиями законодательство Украины, а также нормы международного права. В частности, нарушение авторского права или других видов интеллектуальной собственности недопустимо. Кроме того, Пользователь не должен осуществлять действия, которые могут стать препятствием для работы Сайта в целом или отдельных его служб.
            <br>
            <br>
            Использование Пользователем любых материалов Сайта возможно только в случае предварительного заключения договора с правообладателями. Применение материалов без согласия правообладателей категорически запрещено. Использование сайта возможно только для личного некоммерческого использования, при условии сохранения всей информации об авторском праве и других сведений о праве интеллектуальной собственности, содержащихся в исходных материалах и любых их копиях. Запрещается вносить изменения в материалы Сайта, а также распространять или демонстрировать их в любом виде или использовать их любым другим способом для общественных или коммерческих целей. Любое использование материалов Сайта на других сайтах или в компьютерных сетях запрещается. В случае цитирования Пользователем фрагментов текста с Сайта на сторонних ресурсах наличие ссылки на источник обязательно.
            <br>
            <br>
            Сайт не гарантирует точности и полноты информации о товарах и услугах, предоставляемых на данном Сайте. Сайт в любое время без уведомления может вносить изменения в материалы и услуги, предоставляемые на этом Сайте, а также в упомянутые в них продукты и цены. В случае утраты актуальности материалов и услуг Сайт не обязуется обновлять их. Сайт не несет ответственности за любой ущерб (включая, но не ограничиваясь ущербом от потери прибыли, косвенными убытками), возникший вследствие использования, невозможности использования или результатов использования этого Сайта. Пользователь полностью соглашается, что Администрация Сайта не отвечает за негативные обстоятельства (убытки, потери и прочее), которые произошли или могли произойти с Пользователем, и которые каким-либо образом связаны с материалами Сайта. Также Администрация не несет ответственности за деятельность внешних сетевых ресурсов, ссылки на которые могут быть размещены на Сайте.
        </p>
        <p class="agreement__subtitle">Использование персональных данных</p>
        <p class="agreement__text">
            Использование Сайтом личной информации Пользователя регулируется действующим законодательством Украины. Личные сведения Пользователя не предоставляются другим лицам и организациям, но они сохраняются и применяются для осуществления продажи товара из каталога Сайта.
            <br>
            <br>
            Сайт использует различные технологии для сбора и хранения информации, когда Пользователь посещает Сайт. Это может включать в себя запись одного или нескольких куки или анонимных идентификаторов. Пользователь соглашается, что Сайт не несет ответственность за последствия посещения Пользователем сторонних веб-ресурсов, даже если ссылка на такие ресурсы была размещена на Сайте.
            <br>
            <br>
            Пользователь соглашается с рекламным сопровождением служб и ресурсов Сайта. Администрация не несет ответственности за последствия связи Пользователя с рекламодателями, независимо от конкретных обстоятельств. Пользователь соглашается с получением материалов рекламного характера об акциях и распродажах, маркетинговых программах и т.д. проходящих, на Сайте средствами коммуникации, как-то: электронной почтой, мобильной связью, в том числе указанной Пользователем на сайте. В случае нежелания получать рассылку, Пользователь может обратиться на Сайт, написав заявление об отказе от получения рекламных материалов и прислав его на адрес Сайта указанный в разделе «Обратная связь».
        </p>
        <p class="agreement__subtitle">Использование персональных данных</p>
        <p class="agreement__text">
            Вся информация о представленных на Сайте товарах, названиях, ценах, а также остальная текстовая, фото- и видео- носит исключительно информационный характер. Сайт не гарантирует точность и полноту предоставляемых материалов. Администрация Сайта без уведомления может вносить изменения в материалы, товары и цены, предоставляемые на Сайте. В случае неактуальности информации на сайте, Сайт не обязуется обновлять ее.
            <br>
            <br>
            Решение любых возникших спорных моментов, которые связаны с данным Соглашением, регламентируется текущими законодательными нормами Украины.
            <br>
            <br>
            Соглашение не содержит ничего, что могло бы расцениваться как договоренность о каком-либо виде сотрудничества между Администрацией Сайта и Пользователем.
            <br>
            <br>
            Временное отсутствие реакции Администрации Сайта на нарушение Соглашения со стороны Пользователя не является отказом от права на защиту собственных интересов Администрацией впоследствии.
            <br>
            <br>
            Пользователь ознакомлен и согласен с каждым положением данного Соглашения. В противном случае пользователь обязан отказаться от использования ресурсами Сайта и незамедлительно покинуть Сайт.
        </p>
    </div>
</div>