<div class="user">
  <div class="user__body container">
    <div class="user__header">
      <div class="user__info">
        <div class="user__name">
          <img src="../img/user.png" alt="user_image" class="user__img" />
          <div class="user__name-container">
            <p class="user__nickname">aeroboy123</p>
            <p class="user__fullName">Ивановский Иван Иванович</p>
            <p class="user__year">Участник 2 года 4 месяца</p>
          </div>
        </div>
        <div class="user__stats">
          <img src="../img/user_smth.png" alt="user_rate" class="user__smth" />
          <p class="user__stats-articles">47</p>
          <p class="user__stats-comments">1259</p>
          <p class="user__stats-popular">3</p>
        </div>
      </div>
      <div class="user__social">
        <p class="user__social-role">Администратор</p>
        <p class="user__social-mail">ivan@gmail.com</p>
        <p class="user__social-phone">050 96 14 697</p>
        <p class="user__social-link">Профиль на org.id</p>
        <div class="user__social-other">
          <img
            src="../img/svg/user_facebook.svg"
            alt=""
            class="user__social-icon"
          />
          <img
            src="../img/svg/user_twitter.svg"
            alt=""
            class="user__social-icon"
          />
          <img
            src="../img/svg/user_telegram.svg"
            alt=""
            class="user__social-icon"
          />
          <img
            src="../img/svg/user_linkedin.svg"
            alt=""
            class="user__social-icon"
          />
          <img
            src="../img/svg/user_google.svg"
            alt=""
            class="user__social-icon"
          />
        </div>
      </div>
    </div>
    <div class="user__main">
      <p class="user__title">Статьи пользователя aeroboy123</p>
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      @include('./userArticles.html',
      { 'title' : 'Дешевые солнечные панели на основе печатных фотополимеров сделают чистую энергию доступной для всех',
      'category' : 'Энергия ветра',
      'color' : '#e81e62',
      'views' : '1269',
      'comms' : '26',
      'shares' : '72',
      'liked' : 'hidden' })
      <div class="user__pagination">
        <img
          src="../img/svg/arrow_left.svg"
          alt="arrow_left"
          class="user__pagination-arrow"
        />
        <p class="user__pagination-item">1</p>
        <p class="user__pagination-item">2</p>
        <p class="user__pagination-item">3</p>
        <p class="user__pagination-item">...</p>
        <p class="user__pagination-item">22</p>
        <img
          src="../img/svg/arrow_right.svg"
          alt="arrow_right"
          class="user__pagination-arrow"
        />
      </div>
    </div>
    <div class="user__footer">
      <p class="user__footer-title">Статьи на других ресурсах</p>
      @include('./userOtherArticles.html', {
        'title' : 'В Украине уже работает 4660 частных солнечных электростанций',
        'img' : '../img/user_article.png',
        'link' : '' ,
      })
      @include('./userOtherArticles.html', {
        'title' : 'В Украине уже работает 4660 частных солнечных электростанций',
        'img' : '../img/user_article.png',
        'link' : '' ,
      })
      @include('./userOtherArticles.html', {
        'title' : 'В Украине уже работает 4660 частных солнечных электростанций',
        'img' : '../img/user_article.png',
        'link' : '' ,
      })
      @include('./userOtherArticles.html', {
        'title' : 'В Украине уже работает 4660 частных солнечных электростанций',
        'img' : '../img/user_article.png',
        'link' : '' ,
      })
    </div>
  </div>
</div>
